<form method="POST" action="{{ site.mailchimp_action }}" id="mc-signup" name="mc-embedded-subscribe-form" novalidate>
  <input type="hidden" name="u" value="{{ site.mailchimp_u }}">
  <input type="hidden" name="id" value="{{ site.mailchimp_id }}">


  <div class="form-group">
    <input id="mce-EMAIL" type="email" name="MERGE0" placeholder="Email Address">
  </div>
  <div class="form__btn">
    <input id="mc-submit" type="submit" value="Sign Up" name="subscribe">
  </div>
</form>

<p class="subscribe__error hidden"></p>
